.leftPanel {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.beverageChooserContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beverageChooserContainer h2{
  font-weight: 500;
  font-size: 1.3em;
  margin-top: 0.5em;
}

.chooseFoodContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #404040;
  padding-bottom: 16px;
}

.chooseFoodContainer h2 {
  font-weight: 300;
  font-size: 1.1em;
}

.colaContainer,
.popCornContainer {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  cursor: pointer;
  transform-origin: center;
  position: relative;
}

.colaContainer {
  padding-top: 5px;
  margin-left: 8px;
  opacity: 0.3;
  transform: scale(0.8);
}

/*.colaContainer img {*/
  /*opacity: 0.3;*/
/*}*/

.popCornContainer h2 {
  padding: 0;
  margin: 0;
}

.chooseFoodContainer .buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}

.chooseFoodContainer .btnPlus,
.chooseFoodContainer .btnMinus {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: #531EC6;
  padding-top: 2px;
  margin: 0.5em;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center
}

.bookingContainer .checkoutDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingContainer .checkoutDetailContainer h2 {
  font-size: 1.1em;
  padding: 0;
  margin: 1px;
  font-weight: 400;
}

.bookingContainer .checkoutDetailContainer > div h2:last-child {
  margin-left: auto;
  margin-top: 5px;
}

.checkoutDetailContainer > div {
  display: flex;
  width: 80%;
}

.checkoutDetailContainer .placeDetail > div h2:first-child {
  font-size: 1em;
  font-weight: 400;
}

.checkoutDetailContainer .placeDetail div:last-child {
  margin-left: auto;
}

.checkoutDetailContainer .placeDetail {
  margin-top: 16px;
  margin-bottom: 16px;
}

.checkoutDetailContainer .placeDetail h2 {
  margin: 0;
}

.checkoutDetailContainer .totalPrices {
  border-top: 1px solid #C4A8FF;
  margin-top: 8px;
  padding-top: 8px;
}

.checkoutDetailContainer .buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.checkoutDetailContainer .buttonContainer button {
  margin: 0.8em 0 0;
  padding: 0.5em 1.6em;
}

.checkoutDetailContainer .totalPrices {
  color: #FFB903;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #404040;
  margin: 40px 0;
  padding-left: 72px;
  padding-right: 72px;
}

.rightPanel h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 2.4em 0 0;
}

.rightPanel h2:first-child {
    margin-top: 0;
}

.rightPanel .visaForm {
  height: 182px;
  width: 96%;
  background-color: #531EC6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  margin-top: 1.5em;
}

.rightPanel .visaLogoContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.rightPanel .visaLogoContainer i {
  font-size: 2.3em;
}

.rightPanel .visaNumberContainer {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}

.rightPanel .visaNumberContainer input {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-bottom: 2px;
}

.rightPanel .visaNumberContainer input::placeholder {
  font-weight: 600;
}

.rightPanel .visaDateCVVContainer {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}

.visaDateCVVContainer .cvvNumber {
  margin-left: auto;
}

.visaDateCVVContainer .expiryDate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visaDateCVVContainer input {
  color: white;
}

.visaForm input {
  transition: border-bottom .3s ease-in-out;
  border-bottom: 1px solid transparent;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7c7c7c; 
  color: #C4A8FF;
  font-weight: 200;
}

.visaForm input:focus {
  outline: none;
  border-bottom: 1px solid #f1f2f2;
}

.visaDateCVVContainer input::placeholder {
  color: white;
  font-weight: 300;
}

.visaDateCVVContainer .expiryDate input {
  width: 24px;
  padding-bottom: 0;
  font-size: 18px;
}

.visaDateCVVContainer .expiryDate h2 {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 300;
}

.visaDateCVVContainer .cvvNumber input {
  width: 30px;
  font-weight: 600;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 18px;
  margin: 0;
}

.visaDateCVVContainer .cvvNumber h2 {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
}

.rightPanel input::placeholder {
  color: #C4A8FF;
}

.input{
  position: relative;
  z-index: 1;
  max-width: 400px;
  width: calc(100% - 2em);
  vertical-align: top;
  overflow: hidden;
  margin-top: 0.8em;
}

.inputField {
  position: relative;
  display: block;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  margin-top: 1em;
  padding: 0.8em 0.35em;
  width: 100%;
  background: transparent;
  color: #B5B5B5;
  font-size: 0.9em;
}

.inputField:focus {
  outline: none;
}

.inputLabel {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-size: 85%;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}

.inputLabelContent {
  position: relative;
  display: block;
  width: 100%;
  position: absolute;
}

.inputLabel::before,
.inputLabel::after {
  content: '';
  position: absolute;
  top: 0;
  margin-top: 3px;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #7c7c7c;
}

.inputLabel::after {
  transform: translate3d(-120%, 0, 0);       
  transition: transform 0.3s;
  border-width: 2px;
  border-color: #491BAB;
}

.inputField:focus + .inputLabel::after, .input--filled .inputLabel::after{                 
  transform: translate3d(0, 0, 0);
}

.inputField:focus + .inputLabel .inputLabelContent, .input--filled .inputLabelContent{
  animation: input 0.3s forwards;
}

@keyframes input {
  50% {
    opacity: 0;
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    transform: translate3d(-1em, -70%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -70%, 0);
  }
}


