#chooseSeatPage .bookingContainer{
  display: block;
}

#chooseSeatPage .seatsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

#chooseSeatPage .seatIcon {
  margin: 0 2px;
  cursor: pointer;
  font-size: 2.5em;
}

#chooseSeatPage .screenContainer {
  padding-top: 8.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chooseSeatPage .screenImg {
  position: absolute;
  top: 14em;
  z-index: 0;
}

#chooseSeatPage .leftSeats,
#chooseSeatPage .middleSeats,
#chooseSeatPage .rightSeats,
#chooseSeatPage .leftNumber,
#chooseSeatPage .rightNumber {
  display: flex;
  flex-direction: column;
}

#chooseSeatPage .leftSeats, #chooseSeatPage .rightSeats {
  margin: 0 3em;
}

#chooseSeatPage .leftNumber h2,
#chooseSeatPage .rightNumber h2 {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

#chooseSeatPage .seatsRealContainer {
  display: flex;
  flex-direction: column;
}

#chooseSeatPage .divider,
#chooseSeatPage .bookingInfo {
  margin: 1em 5.6em;
}

#chooseSeatPage .divider {
  border-bottom: 1px solid #404040;
}

#chooseSeatPage .bookingInfo {
  display: flex;
}

#chooseSeatPage .bookingInfo .seatInfo h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1.1em;
  margin-left: 8px;
  margin-right: 32px;
}

#chooseSeatPage .bookingInfo .seatInfo,
#chooseSeatPage .bookingInfo .seatStatus {
  display: flex;
  align-items: center;
  flex: 1;
}

#chooseSeatPage .bookingInfo .seatStatus {
  justify-content: flex-end;
}

#chooseSeatPage .bookingInfo .seatStatus h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1.1em;
  margin-left: 8px;
  margin-right: 32px;
}

#chooseSeatPage .bookingInfo .seatStatus .nextBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #531EC6;
  border: none;
  cursor: pointer;
}

#chooseSeatPage .bookingInfo .seatStatus .nextBtn .arrowIcon {
  color: white;
  font-size: 26px;
  font-weight: 1000;
}
