#chooseAreaPage {
  background: linear-gradient(180deg, 
    rgba(9, 0, 18, 1) 0%, rgba(23, 10, 44, 1) 50%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
}

#chooseAreaPage .chooseAreaContainer{
  display: flex;
}

#chooseAreaPage .theaterInfoContainer {
  flex: 1;
}

#chooseAreaPage .theaterInfo {
  padding: 4em 0 0 14em;
}

#chooseAreaPage .theaterInfo h2 {
  font-weight: 600;
  font-size: 1.2em;
}

#chooseAreaPage .mapContainer {
  flex: 1;
  flex-direction: column;
  height: 80vh;
  margin-top: -1em;
  position: relative;
  background: url('../assets/images/map-line-thick-12.png') no-repeat top center;
  background-size: 50%;
}

#chooseAreaPage .mapPin {
  display: flex;
  align-items: center;
  position: absolute;
}

#chooseAreaPage .mapPin h2 {
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 0.6em;
}

#chooseAreaPage .mapPinOuter {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 2px solid #C4A8FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chooseAreaPage .mapPinInner {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: #C4A8FF;
}

#chooseAreaPage .mapPinRovaniemi {
  top: 140px;
  left: 340px;
}

#chooseAreaPage .mapPinOulu {
  top: 225px;
  left: 360px;
}

#chooseAreaPage .mapPinTampere {
  top: 490px;
  left: 300px;
}

#chooseAreaPage .mapPinHelsinki {
  top: 555px;
  left: 410px;
}

#chooseAreaPage .mapPinTurku {
  top: 555px;
  left: 270px;
}

#chooseAreaPage .btn{
  padding: 0.5em 2.4em;
  margin-top: 1em;
}

#chooseAreaPage .footer {
  display: flex;
}

#chooseAreaPage .footer .mapInstruction {
  flex: 1;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

#chooseAreaPage .mapInstruction i, .backBtn i{
  margin-right: 0.5em;
}

.backBtn{
  font-size: 1.2em;
  flex: 1;
  text-align: center;
  margin: 0.5em 0 0 -4.5em;
}
