/* ---------------------------------------------------------------------------------------------------- */
/* GLOBAL */
@font-face {
    font-family: 'League Spartan';
    src: url('assets/fonts/LeagueSpartan-Bold.eot');
    src: url('assets/fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LeagueSpartan-Bold.woff') format('woff'),
        url('assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.btn {
  background-color: #531EC6;
  border: none;
  padding: 0.7em 1.8em;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 1.2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  will-change: transform;
  transition: box-shadow .4s ease-out, background-color .4s ease-out; 
}

.btn:focus button:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline: none;
}

.btn:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  background-color: #3F0CAD;
}

.fullDivImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------------------------------------------------------------------------------------- */
/* UTILITIES */

.fontWhite {
  color: white;
}

.fontLightGray {
  color: #a3a3a3;
}

.fontSpartan {
  font-family: "League Spartan", sans-serif;
}

.fontMontserrat {
  font-family: "Montserrat", sans-serif;
}

.absolutePos {
  position: absolute;
}

/* ---------------------------------------------------------------------------------------------------- */
/* HOME PAGE */

#preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #090012;
  z-index: 100;
}

#homePage {
  background: linear-gradient(180deg, 
    rgba(58, 24, 133, 0.3) 0%, 
    rgba(38, 0, 99, 0.5) 20%,
    rgba(0, 0, 0, 0.85) 70%,
    rgba(0, 0, 0, 0.95) 100%),
  url('../assets/images/blade_runner_poster.jpg') no-repeat center;

  background-size: cover;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  align-items: baseline;
}

.header :first-child {
  margin: 1em 1.2em;
  font-size: 1.8em;
}

.header :last-child {
  margin: 1em 1.2em 1em auto;
  border-bottom: 2px solid #a3a3a3;
}

#homePage .movieTitle {
  flex: 3;
  margin-left: 2.5em;
}

#homePage .movieTitle :first-child {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

#homePage .movieTitle h2 {
  font-size: 2.2em;
  color: #f1f2f2;
  margin: 0;
}

#homePage .movieTitle .blindText{
  overflow: hidden;
}

#homePage .movieTitle .blindText span{
  opacity: 0;
  position: relative;
  top: -100px;
  animation-fill-mode: forwards;
}

#homePage .cinemaIntro {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homePage .cinemaIntro h2:first-child {
  font-size: 3em;
  margin: 0;
}

#homePage .cinemaIntro .introSubheader {
  font-size: 1.5em;
  margin: 0.5em;
  font-weight: 400;
}

#homePage .cinemaIntro h2{
  overflow: hidden;
}

#homePage .cinemaIntro h2 > span > span {
  display: inline-block;
  perspective: 900px;
  transform-origin: 50% 50%;
}

#homePage .cinemaIntro h2 > span > span > span {
  display: inline-block;
  color: hsla(0,0%,0%,0);
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
  animation: filmOpening 1.3s linear forwards;
  animation-delay: 0.5s;
}

@keyframes filmOpening {
  0% {
    letter-spacing: 10px;
    opacity: 0.2;
    transform: rotateY(-90deg);
  }
  80% {
    letter-spacing: 3px;
    opacity: 1;
    transform: rotateY(0deg);
    text-shadow: 0 0 0 #fff;
  }
  100% {
    letter-spacing: 2px;
    opacity: 1;
    transform: rotateY(0deg);
    text-shadow: 0 0 0 #fff;
  }
}

#homePage .btnBookTicket {
  margin-top: 1em;
  position: relative;
}

/* ---------------------------------------------------------------------------------------------------- */
/* BROWSER MOVIES PAGE */

#browserMoviesPage {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(41, 41, 41, 0) 50%),
  linear-gradient(0, rgba(0, 0, 0, 1) 0%, rgba(41, 41, 41, 0) 50%);
  display: flex;
  height: 100%;
  flex-direction: column;
   overflow: hidden; 
  position: relative;
}

#browserMoviesPage .nowShowingMovieSlider {
  width: 500px;
  height: 2025px;
  margin-left: 15em;
  /* position: absolute; */
   margin-top: 27vh; 
}

#browserMoviesPage .poster1, #browserMoviesPage .poster2, #browserMoviesPage .poster3 {
  height: 500px;
  width: 800px;
  margin-bottom: 150px;
}

#browserMoviesPage .backgroundPosterImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -999;
}

#browserMoviesPage .movieTitle {
  position: absolute;
  top: 57%;
  left: 55%;
}

#browserMoviesPage .movieTitle h2 {
  font-size: 4.5em;
  margin-top: 0;
  margin-bottom: 0;
}

#browserMoviesPage .verticalBarChooseTypeOfMovies {
  display: flex;
  flex-direction: row;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 41%;
  left: -9.5em;
}

#browserMoviesPage .verticalBarChooseTypeOfMovies div {
  margin: 0 2em;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
}

#browserMoviesPage .verticalBarChooseTypeOfMovies .nowShowing {
  opacity: 1;
}

#browserMoviesPage .verticalBarChooseTypeOfMovies .comingSoon {
  opacity: 0.2;
}

#browserMoviesPage .movieReleaseDate {
  position: absolute;
  left: 30%;
  top: 15%;
}

#browserMoviesPage .movieReleaseDate h3 {
  font-size: 1.3em;
  margin: 0.1em 0 0.1em 0;
  font-weight: 400;
}

#browserMoviesPage .movieReleaseDate h2 {
  font-size: 1.5em;
  margin: 0.1em 0 0.1em 0;
  font-weight: 400;
}

#browserMoviesPage .movieInfo {
  position: absolute;
  top: 42%;
  left: 65%;
}

#browserMoviesPage .movieInfo div {
  font-weight: 300;
  margin-bottom: 1em;
}

#browserMoviesPage .movieInfo :last-child {
  font-size: 1.4em;
}

#browserMoviesPage .movieInfo button {
  font-size: 1.4em;
  font-weight: 700;
  padding: 0.15em 1em 0.1em;
  text-align: center;
  border-radius: 6px;
  background-color: #FFB903;
  border: none;
}

#browserMoviesPage .movieInfo .idmbScore{
  margin-left: 0.8em;
  font-size: 1.1em;
  font-weight: 500;
}

#browserMoviesPage .movieInfo .idmbScore span{
  font-weight: 500;
  font-size: 1.4em;
}
