<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/choose_schedule.css">
  <link rel="stylesheet" href="css/movie_detail.css">
  <link rel="stylesheet" href="css/movie_trailer_page.css">
  <link rel="stylesheet" href="css/choose_area_page.css">
  <link rel="stylesheet" href="css/choose_seat_page.css">
  <link rel="stylesheet" href="css/checkout_page.css">
  <title>Document</title>
</head>
<body>

<nav class="navbar">
  <ul>
    <li class="menuItem"><a href="/index.html" class="fontMontserrat menuItemName">Home</a></li>
    <li class="menuItem"><a href="/page_combination.html" class="fontMontserrat menuItemName">Booking</a></li>
    <li class="menuItem"><a href="/page_combination.html" class="fontMontserrat menuItemName">Movies</a></li>
    <li class="menuItem"><a href="/page_combination.html" class="fontMontserrat menuItemName">Theaters</a></li>
  </ul>
</nav>

<div id="browserMoviesPage" @wheel="onScrollPage" v-show="showBrowseMovies" ref="frontLayer" @click="closeMenu"
     class="frontLayer">
  <div class="backgroundPosterImg fullDivImg" :style="{ backgroundImage: currentBackgroundPoster }"
       ref="backgroundPosterImg"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="nowShowingMovieSlider" ref="nowShowingMovieSlider">
    <div class="poster1 fullDivImg moviePoster" :style="{ backgroundImage: currentMovies[0].posterUrlPath }"
         @mousemove="onMouseMove" @mouseleave="onMouseLeave" @mousedown="onMouseDown" @mouseup="onMouseUp">
    </div>
    <div class="poster2 fullDivImg moviePoster" :style="{ backgroundImage: currentMovies[1].posterUrlPath }"
         @mousemove="onMouseMove" @mouseleave="onMouseLeave" @mousedown="onMouseDown" @mouseup="onMouseUp">
    </div>
    <div class="poster3 fullDivImg moviePoster" :style="{ backgroundImage: currentMovies[2].posterUrlPath }"
         @mousemove="onMouseMove" @mouseleave="onMouseLeave" @mousedown="onMouseDown" @mouseup="onMouseUp">
    </div>
  </div>
  <div class="movieTitle" ref="movieTitle">
    <h2 class="fontWhite fontSpartan"><span ref="MovieTitleLine1">{{ currentMovieTitleLine1 }}</span></h2>
    <h2 class="fontWhite fontSpartan"><span ref="MovieTitleLine2">{{ currentMovieTitleLine2 }}</span></h2>
  </div>
  <div class="verticalBarChooseTypeOfMovies">
    <div class="fontWhite fontMontserrat nowShowing" @click="onClickNowShowing" ref="nowShowing">Now showing</div>
    <div class="fontWhite fontMontserrat comingSoon" @click="onClickComingSoon" ref="comingSoon">Coming soon</div>
  </div>
  <div class="movieReleaseDate" ref="movieReleaseDate">
    <h3 class="fontLightGray fontMontserrat"><span ref="movieReleaseDate1">Premiere</span></h3>
    <h2 class="fontWhite fontMontserrat"><span ref="movieReleaseDate2">{{ currentMovieReleaseDate }}</span></h2>
  </div>
  <div class="movieInfo" ref="movieInfo">
    <div class="fontLightGray fontMontserrat movieScore">
      <span ref="movieScore"><button>IMDb</button>
      <span class="idmbScore"><span class="fontWhite">{{ currentMovieImdbScore }}/</span> 10</span></span>
    </div>
    <div class="fontWhite fontMontserrat movieDetail">
      <span ref="movieDetail">{{ currentMovieCategory }} | {{ currentMovieRunningTime }}</span>
    </div>
  </div>
</div>

<div id="movieDetail" class="bookingPage" v-show="showMovieDetail" ref="frontLayer" class="frontLayer"
     @click="closeMenu">
  <div class="backgroundPosterImg fullDivImg" :style="{ backgroundImage: currentBackgroundPoster }"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="movieDetailContainer">
    <div class="posterContainer" ref="posterContainer" :style="{ backgroundImage: currentMovieDetailPoster }">
      <a class="playBtn" @click="onClickShowMovieTrailer">
        <i class="material-icons operation play">play_arrow</i></a>
    </div>
    <div class="detailContainer" ref="detailContainer">
      <div class="wrapper">
        <div class="movieTitle">
          <h1 class="fontWhite fontSpartan">{{ currentMovieTitleLine1 + ' ' + (currentMovieTitleLine2 || '') }}</h1>
        </div>

        <div class="movieDescription">
          <h2 class="fontWhite fontMontserrat">{{ currentMovieCategory }} | {{ currentMovieRunningTime }} | R Limit</h2>
          <div class="movieScore fontWhite">
            <button>IMDb</button>
            <span class="idmbScore fontMontserrat fontLightGray"><span
              class="fontWhite">{{ currentMovieImdbScore }}/</span> 10<span>
          </div>
        </div>

        <div class="movieDetail-1">
          <div class="movieDetailGroup releaseDate">
            <h3 class="fontLightGray fontMontserrat">Premiere</h3>
            <h2 class="fontWhite fontMontserrat">{{ currentMovieReleaseDate }}</h2>
          </div>
          <div class="movieDetailGroup director">
            <h3 class="fontLightGray fontMontserrat">Director</h3>
            <h2 class="fontWhite fontMontserrat">Denis Villeneuve</h2>
          </div>
        </div>

        <div class="movieDetail-2">
          <div class="movieDetailGroup starring">
            <h3 class="fontLightGray fontMontserrat">Starring</h3>
            <h2 class="fontWhite fontMontserrat">Harrison Ford, Ryan Gosling, Ana de Armas</h2>
          </div>
        </div>

        <div class="movieDetail-3">
          <div class="movieDetailGroup storyLine">
            <h3 class="fontLightGray fontMontserrat">Story line</h3>
            <h2 class="fontWhite fontMontserrat">Officer K (Ryan Gosling), a new blade runner for the Los Angeles
              Police
              Department, unearths a long-buried secret that has the potential to plunge what's left of society into
              chaos. His discovery leads him on a quest to find Rick Deckard (Harrison Ford), a former blade runner
              who's been missing for 30 years</h2>
          </div>
        </div>

        <div style="display: flex; margin-top: -32px; align-items: center">
          <button class="btn fontMontserrat fontWhite"
                  ref="btn" @click="onClickBookNow">
            <span ref="btnText">Book now</span>
          </button>
          <a class="fontMontserrat fontLightGray backBtn"
             style="margin-left: auto; margin-top: 45px; margin-right: 5em" @click="onClickGoBackBrowseMovies">
            <i class="fa fa-long-arrow-left"></i>
            Back to browse movies
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="movieTrailerPage" v-show="showMovieTrailer" ref="movieTrailerPage" ref="frontLayer" class="frontLayer"
     @click="closeMenu">
  <div class="backgroundPosterImg fullDivImg"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="bookingContainer">
    <div class="theaterLightContainer"></div>
    <div class="videoTrailerContainer">
      <iframe width="90%" height="500" :src="currentMovieUrlPath" frameborder="0" gesture="media"
              allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="footer">
      <a class="fontMontserrat fontLightGray backBtn" @click="onClickBackToMovieDetail">
        <i class="fa fa-long-arrow-left"></i>
        Back to movie
      </a>
      <button class="btn bookNowBtn fontMontserrat fontWhite"
              ref="btn" @click="onClickBookNow">
        <span ref="btnText">Book now</span>
      </button>
    </div>
  </div>
</div>

<div id="chooseAreaPage" v-show="showChooseArea" ref="chooseAreaPage" ref="frontLayer" class="frontLayer"
     @click="closeMenu">
  <div class="backgroundPosterImg fullDivImg" :style="{ backgroundImage: currentBackgroundPoster }"
       ref="backgroundPosterImg"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontMontserrat stepTitle"><b>01.</b> Choose theater</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="chooseAreaContainer">
    <div class="theaterInfoContainer fontMontserrat fontWhite">

      <div class="theaterInfo fontLightGray" v-show="currentCinemaDescription === 'Rovaniemi'" ref="Rovaniemi">
        <h2 class="fontPurple">Northkino Fantasy (Rovaniemi)</h2>
        <p>
          The new Northkino Fantasy, opened in April 2017, is the first full-scale cinema center in Southern Europe,
          with
          seven top halls featuring cutting-edge laser projectors. At the same time Apple also opened the second Scape
          Premium platform in Finland , featuring the Barco flagship laser projector, the world's leading Dolby Atmos
          sound system, and the luxurious Italian benches.
        </p>
        <p><span class="fontWhite">Opening hours:</span> 9:00AM - 8:00PM from Monday to Sunday. </p>
        <p><span class="fontWhite">Tickets price:</span></p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Classic </span>:
          9,00 € - 10,50 € for 2D movies, 11,00 € - 12,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Normal </span>:
          11,50 € - 12,50 € for 2D movies, 13,00 € - 14,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Special </span>:
          12,00 € - 14,50 € for 2D movies, 13,50 € - 15,00 € for 3D movies.
        </p>
        <button class="btn fontMontserrat fontWhite" ref="btn" @click="onClickChooseArea">
          <span ref="btnText">Choose</span>
        </button>
      </div>

      <div class="theaterInfo fontLightGray" v-show="currentCinemaDescription === 'Oulu'" ref="Oulu">
        <h2 class="fontPurple">Northkino Plaza (Oulu)</h2>
        <p>
          Northkino Plaza, which has been offered for Oulu film experiences, is located in the heart of the city, a
          stone's throw from the pedestrian street Rotuaari. The main entrance to the Plaza and the Scandic Hotel
          directly leads to ticket sales and delicatessen. Tickets and movie trailers are sold at the same desk.
        </p>
        <p><span class="fontWhite">Opening hours:</span> 12:00AM - 11:00PM from Monday to Sunday. </p>
        <p><span class="fontWhite">Tickets price:</span></p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Classic </span>:
          10,00 € - 11,50 € for 2D movies, 11,00 € - 12,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Normal </span>:
          12,00 € - 13,50 € for 2D movies, 13,00 € - 14,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Special </span>:
          12,50 € - 14,00 € for 2D movies, 13,50 € - 15,00 € for 3D movies.
        </p>
        <button class="btn fontMontserrat fontWhite" ref="btn" @click="onClickChooseArea">
          <span ref="btnText">Choose</span>
        </button>
      </div>

      <div class="theaterInfo fontLightGray" v-show="currentCinemaDescription === 'Tampere'" ref="Tampere">
        <h2 class="fontPurple">Northkino Koskikeskus (Tampere)</h2>
        <p>
          Koskikeskus is Tampere's most versatile shopping center in the city center. At the bottom floor of the
          Koskikeskus, you will find a cozy Finnkino Cine Atlas movie theater favored by families especially. There is
          also a popular café and an ice cream parlor in the movie theater.
        </p>
        <p><span class="fontWhite">Opening hours:</span> 12:30AM - 10:00PM from Monday to Sunday. </p>
        <p><span class="fontWhite">Tickets price:</span></p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Classic </span>:
          11,00 € - 12,50 € for 2D movies, 11,00 € - 12,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Normal </span>:
          13,00 € - 14,50 € for 2D movies, 13,00 € - 14,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Special </span>:
          13,50 € - 15,00 € for 2D movies, 13,50 € - 15,00 € for 3D movies.
        </p>
        <button class="btn fontMontserrat fontWhite" ref="btn" @click="onClickChooseArea">
          <span ref="btnText">Choose</span>
        </button>
      </div>

      <div class="theaterInfo fontLightGray" v-show="currentCinemaDescription === 'Turku'" ref="Turku">
        <h2 class="fontPurple">Northkino Kinopalatsi (Turku)</h2>
        <p>
          The modern cinema center was inaugurated in Turku in the spring of 2001. Kinopalats have been invested in the
          9-storied view of relaxation; all the halls are steeply staggered and the foot space between the rows is
          optimal. The presentation technology is top-notch: all the halls have digital sound and big screen.
        </p>
        <p><span class="fontWhite">Opening hours:</span> 11:00AM - 12PM from Monday to Saturday. </p>
        <p><span class="fontWhite">Tickets price:</span></p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Classic </span>:
          12,00 € - 13,50 € for 2D movies, 11,00 € - 12,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Normal </span>:
          14,00 € - 15,50 € for 2D movies, 13,00 € - 14,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Special </span>:
          14,50 € - 16,00 € for 2D movies, 13,50 € - 15,00 € for 3D movies.
        </p>
        <button class="btn fontMontserrat fontWhite" ref="btn" @click="onClickChooseArea">
          <span ref="btnText">Choose</span>
        </button>
      </div>

      <div class="theaterInfo fontLightGray" v-show="currentCinemaDescription === 'Helsinki'" ref="Helsinki">
        <h2 class="fontPurple">Northkino Kinopalatsi (Helsinki)</h2>
        <p>
          Helsinki Kinopalatsi was opening the first Finnish multiplex movie theater in Finland in autumn 1998. 10
          high-class auditoriums, featuring all digital audio and contemporary seating, are the most demanding of
          filmmakers. Kinopalatsi is located in the Fennia Quarter, which also includes a wealth of services from fast
          food and sushi to nightclubs and bars.
        </p>
        <p><span class="fontWhite">Opening hours:</span> 11:30AM - 11:30PM from Monday to Sunday. </p>
        <p><span class="fontWhite">Tickets price:</span></p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Classic </span>:
          13,00 € - 14,50 € for 2D movies, 11,00 € - 12,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Normal </span>:
          15,00 € - 16,50 € for 2D movies, 13,00 € - 14,50 € for 3D movies.
        </p>
        <p>
          <i class="fa fa-angle-right"></i>
          <span class="fontPurple">Special </span>:
          15,50 € - 17,00 € for 2D movies, 13,50 € - 15,00 € for 3D movies.
        </p>
        <button class="btn fontMontserrat fontWhite" ref="btn" @click="onClickChooseArea">
          <span ref="btnText">Choose</span>
        </button>
      </div>

    </div>
    <div class="mapContainer" ref="mapContainer">
      <template v-for="cinema in cinemas">
        <div class="mapPin" :class="['mapPin' + cinema]" @click="setActiveCinema(cinema)">
          <div class="mapPinOuter"
               :style="{'border-color': cinema === currentCinemaMapPin ? 'transparent' : '#C4A8FF'}">
            <div class="mapPinInner" :class="{mapPinRipple: cinema === currentCinemaMapPin}"></div>
          </div>
          <h2 class="fontMontserrat fontWhite">{{ cinema }}</h2>
        </div>
      </template>
    </div>
  </div>
  <div class="footer" ref="footer">
    <a class="fontMontserrat fontLightGray backBtn" @click="onClickBackToMovieDetail">
      <i class="fa fa-long-arrow-left"></i>
      Back to movie
    </a>
    <h2 class="fontMontserrat fontLightGray mapInstruction">
      <i class="fa fa-mouse-pointer"></i>
      Click on map to choose theater
    </h2>
  </div>
</div>

<div id="chooseSchedule" class="bookingPage" v-show="showChooseSchedule">
  <div class="backgroundPosterImg fullDivImg" :style="{backgroundImage: currentBackgroundPoster}"
       ref="backgroundPosterImg"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontMontserrat stepTitle"><b>02.</b> Choose session times</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="bookingContainer" ref="bookingContainer">
    <div class="posterContainer" :style="{backgroundImage: currentMovieDetailPoster}">
      <a class="playBtn">
        <i class="material-icons operation play">play_arrow</i></a>
    </div>
    <div class="scheduleContainer">

      <div class="movieInfoContainer">
        <div class="movieInfo">
          <h2 class="fontWhite fontMontserrat">{{ currentMovieTitleLine1 + ' ' + (currentMovieTitleLine2 || '') }}</h2>
          <h2 class="fontLightGray fontMontserrat">{{ currentMovieCategory }} | {{ currentMovieRunningTime }} | R
            Limit</h2>
        </div>
        <div class="movieScore fontWhite">
          <button>IMDb</button>
          <span class="idmbScore fontMontserrat fontLightGray"><span
            class="fontWhite">{{ currentMovieImdbScore }}/</span> 10<span>
        </div>
      </div>

      <div class="scheduleInfoContainer">
        <div class="chooseDate scheduleSection">
          <h2 class="scheduleTitle fontWhite fontMontserrat">{{ month }}</h2>
          <div class="dateContainer">
            <script type="text/javascript">
              for (let i = 0; i < 7; i++) {
                document.write(
                  `<div class="date fontWhite fontMontserrat">
                      <p class="fontLightGray weekday">{{ weekDay[` + i + `] }}</p>
                      <a @click="setActiveDate(` + i + `)" :class="{active:` + i + ` === activeDate}">
                      {{ date[` + i + `] }}</a>
                   </div>`)
              }
            </script>
          </div>
        </div>

        <div class="chooseTime scheduleSection">
          <h2 class="scheduleTitle fontWhite fontMontserrat">NorthKino {{ currentCinemaDescription }}</h2>
          <div class="timeContainer">
            <script type="text/javascript">
              for (let i = 0; i < 5; i++) {
                document.write(
                  `<div class="time fontWhite fontMontserrat">
                      <p class="fontLightGray movieType">{{ movieType[` + i + `] }}</p>
                      <a @click="setActiveTime(` + i + `)" :class="{active:` + i + ` === activeTime}">
                      {{ time[` + i + `] }}</a>
                   </div>`)
              }
            </script>
          </div>
        </div>

        <div class="chooseSeat scheduleSection">
          <h2 class="scheduleTitle fontWhite fontMontserrat">Seats</h2>
          <div class="seatContainer">
            <div class="addSeat">
              <a @click="removeSeat"><i class="material-icons operation">remove</i></a>
              <div class="seats" ref="seats">
              </div>
              <a @click="addSeat"><i class="material-icons operation">add</i></a>
            </div>
          </div>
          <h5 class="ticketPrice fontMontserrat fontLightGray">Total: <span ref="totalSeatPrice">{{ totalSeatPrice }} &euro;</span>
          </h5>
        </div>
      </div>

      <button class="btn fontMontserrat fontWhite"
              @mousemove="onMouseMove" @mouseleave="onMouseLeave"
              @mousedown="onMouseDown" ref="btn" @click="onClickChooseSeats">
        <span ref="btnText">Choose seats</span>
      </button>
    </div>
  </div>
  <a class="fontMontserrat fontLightGray backBtn">
    <i class="fa fa-long-arrow-left"></i>
    Back
  </a>
</div>

<div id="chooseSeatPage" class="bookingPage" v-show="showChooseSeats" ref="frontLayer" class="frontLayer"
     @click="closeMenu">
  <div class="backgroundPosterImg fullDivImg" :style="{ backgroundImage: currentBackgroundPoster }"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontMontserrat stepTitle"><b>03.</b> Choose seats</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="bookingContainer" ref="bookingContainer">
    <div class="movieInfoContainer">
      <div class="movieInfo">
        <h2 class="fontWhite fontMontserrat">{{ currentMovieTitleLine1 + ' ' + (currentMovieTitleLine2 || '') }}</h2>
        <h2 class="fontLightGray fontMontserrat">{{ currentMovieCategory }} | {{ currentMovieRunningTime }} | R
          Limit</h2>
      </div>
      <div class="movieScore fontWhite">
        <button>IMDb</button>
        <span class="idmbScore fontMontserrat fontLightGray"><span class="fontWhite">{{ currentMovieImdbScore }}/</span> 10<span>
      </div>
    </div>
    <div class="screenContainer">
      <img src="/assets/images/cinema_screen.png" height="233" width="533" class="screenImg" ref="screenImg">
    </div>
    <div class="seatsContainer">
      <div class="leftNumber">
        <h2 class="fontLightGray fontMontserrat">F</h2>
        <h2 class="fontLightGray fontMontserrat">E</h2>
        <h2 class="fontLightGray fontMontserrat">D</h2>
        <h2 class="fontLightGray fontMontserrat">C</h2>
        <h2 class="fontLightGray fontMontserrat">B</h2>
        <h2 class="fontLightGray fontMontserrat">A</h2>
      </div>
      <div class="leftSeats">
        <div v-for="seatRow in seatRows">
          <i class="material-icons seatIcon" v-for="seatNumber in seatNumbers[0]"
             :style="{color: seatProperties[seatRow][seatNumber].color}"
             @click="onClickSelectSeat(seatRow, seatNumber)"
             :ref="seatRow + seatNumber">weekend</i>
        </div>
      </div>

      <div class="middleSeats">
        <div v-for="seatRow in seatRows">
          <i class="material-icons seatIcon" v-for="seatNumber in seatNumbers[1]"
             :style="{color: seatProperties[seatRow][seatNumber].color}"
             @click="onClickSelectSeat(seatRow, seatNumber)"
             :ref="seatRow + seatNumber">weekend</i>
        </div>
      </div>

      <div class="rightSeats">
        <div v-for="seatRow in seatRows">
          <i class="material-icons seatIcon" v-for="seatNumber in seatNumbers[2]"
             :style="{color: seatProperties[seatRow][seatNumber].color}"
             @click="onClickSelectSeat(seatRow, seatNumber)"
             :ref="seatRow + seatNumber">weekend</i>
        </div>
      </div>

      <div class="rightNumber">
        <h2 class="fontLightGray fontMontserrat">F</h2>
        <h2 class="fontLightGray fontMontserrat">E</h2>
        <h2 class="fontLightGray fontMontserrat">D</h2>
        <h2 class="fontLightGray fontMontserrat">C</h2>
        <h2 class="fontLightGray fontMontserrat">B</h2>
        <h2 class="fontLightGray fontMontserrat">A</h2>
      </div>
    </div>
    <div class="divider"></div>
    <div class="bookingInfo">
      <div class="seatInfo">
        <i class="material-icons seatIcon" style="color: #531EC6">weekend</i>
        <h2 class="fontWhite fontMontserrat">Available</h2>
        <i class="material-icons seatIcon" style="color: #474747">weekend</i>
        <h2 class="fontWhite fontMontserrat">Taken</h2>
        <i class="material-icons seatIcon" style="color: #FF1F2F">weekend</i>
        <h2 class="fontWhite fontMontserrat">Selected</h2>
      </div>
      <div class="seatStatus">
        <h2 class="fontWhite fontMontserrat" style="overflow: hidden">
          <span class="fontLightGray">Seat:</span>
          <span style="color: #C4A8FF; position: relative" ref="selectedSeats">{{ selectedSeats.join(', ') }}</span>
        </h2>
        <h2 class="fontWhite fontMontserrat">
          <span class="fontLightGray">Total:</span>
          <span style="color: #C4A8FF">{{ totalSeatPrice }} &euro;</span>
        </h2>
        <button class="nextBtn" @click="onClickCheckout"><i class="material-icons arrowIcon">arrow_forward</i></button>
      </div>
    </div>
  </div>

</div>

<div id="checkoutPage" class="bookingPage" v-show="showCheckout" ref="frontLayer" class="frontLayer" @click="closeMenu">
  <div class="backgroundPosterImg fullDivImg" :style="{backgroundImage: currentBackgroundPoster}"></div>
  <div class="header">
    <h2 class="fontWhite fontSpartan logo">NK.</h2>
    <h2 class="fontWhite fontMontserrat stepTitle"><b>04.</b> Checkout</h2>
    <h2 class="fontWhite fontSpartan menu" ref="menu" @click="onMenuClick">Menu</h2>
  </div>
  <div class="bookingContainer" ref="bookingContainer">
    <div class="leftPanel">
      <div class="movieInfoContainer">
        <div class="movieInfo">
          <h2 class="fontWhite fontMontserrat">{{ currentMovieTitleLine1 + ' ' + (currentMovieTitleLine2 || '') }}</h2>
          <h2 class="fontLightGray fontMontserrat">{{ currentMovieCategory }} | {{ currentMovieRunningTime }} | R
            Limit</h2>
        </div>
        <div class="movieScore fontWhite">
          <button>IMDb</button>
          <span class="idmbScore fontMontserrat fontLightGray"><span
            class="fontWhite">{{ currentMovieImdbScore }}/</span> 10<span>
        </div>
      </div>
      <div class="beverageChooserContainer">
        <h2 class="fontMontserrat fontWhite">Enjoy your movies with some snacks</h2>
        <div class="chooseFoodContainer">
          <div class="popCornContainer" ref="popCorn" @click="onClickPopcorn">
            <img src="assets/images/popcorn-icon.png"
                 alt="Popcorn" height="100" width="100" ref="popCornImg">
            <h2 class="fontWhite fontMontserrat">6,50 &euro;</h2>
          </div>
          <div class="colaContainer" ref="cola" @click="onClickCola">
            <img src="assets/images/drink-icon.png"
                 alt="Cola" height="100" width="100" ref="colaImg">
            <h2 class="fontWhite fontMontserrat">4,50 &euro;</h2>
          </div>
          <div class="buttonsContainer">
            <div class="btnPlus effectBtn" :class="{'effectBtn-click': plusBtnClick}"
                 @click="onClickAdd">
              <i class="fa fa-plus fontWhite effectBtnIcon"></i>
            </div>
            <div class="btnMinus effectBtn" :class="{'effectBtn-click': minusBtnClick}"
                 @click="onClickReduce">
              <i class="fa fa-minus fontWhite effectBtnIcon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="checkoutDetailContainer fontWhite fontMontserrat">
        <div class="placeDetail">
          <div>
            <h2 class="fontLightGray">Cinema</h2>
            <h2 class="fontPurple">Northkino {{ currentCinemaDescription }}</h2>
          </div>
          <div style="margin-left: auto;">
            <h2 class="fontLightGray">Date</h2>
            <h2 class="fontPurple">{{ selectedDate }} {{ selectedMonth.substring(0, 3) }}, {{ selectedTime }}</h2>
          </div>
          <div>
            <h2 class="fontLightGray">Seats</h2>
            <h2 class="fontPurple">{{ selectedSeats.join(', ') }}</h2>
          </div>
        </div>
        <div class="ticketPrices">
          <h2 class="fontLightGray">{{ seatsId.length }} ticket</h2>
          <h2>{{ totalSeatPrice }} &euro;</h2>
        </div>
        <div class="popCornPrices">
          <h2 class="fontLightGray">{{ popCorn.count }} Popcorn</h2>
          <h2>+{{ popCorn.totalPrice.toFixed(2) }} &euro;</h2>
        </div>
        <div class="drinkPrices">
          <h2 class="fontLightGray">{{ cola.count }} Drink</h2>
          <h2>+{{ cola.totalPrice.toFixed(2) }} &euro;</h2>
        </div>
        <div class="totalPrices">
          <h2 class="fontPurple">Total</h2>
          <h2>{{ totalPrice.toFixed(2) }} &euro;</h2>
        </div>
        <div class="buttonContainer">
          <button class="btn fontMontserrat fontWhite">
            <span ref="btnText">Confirm and pay</span>
          </button>
        </div>
      </div>
    </div>
    <div class="rightPanel fontMontserrat fontWhite">
      <h2>Enter your contact details</h2>
      <span class="input" :class="{'input--filled': clientName !== ''}">
					<input class="inputField " type="text" id="name" v-model="clientName"/>
					<label class="inputLabel" for="name">
						<span class="inputLabelContent fontPurple fontMontserrat">Name</span>
					</label>
      </span>
      <span class="input" :class="{'input--filled': clientEmail !== ''}">
					<input class="inputField" type="text" id="email" v-model="clientEmail"/>
					<label class="inputLabel" for="email">
						<span class="inputLabelContent fontPurple fontMontserrat">Email</span>
					</label>
      </span>
      <span class="input" :class="{'input--filled': clientPhoneNumber !== ''}">
					<input class="inputField  " type="text" id="phone_number" v-model="clientPhoneNumber"/>
					<label class="inputLabel" for="phone_number">
						<span class="inputLabelContent fontPurple fontMontserrat">Phone Number</span>
					</label>
      </span>
      <h2>Add your payment method</h2>
      <div class="visaForm">
        <div class="visaLogoContainer">
          <i class="fa fa-cc-visa"></i>
        </div>
        <div class="visaNumberContainer">
          <input type="text" placeholder="XXXX     XXXX     XXXX     XXXX" class="fontMontserrat">
        </div>
        <div class="visaDateCVVContainer">
          <div class="expiryDate">
            <input type="text" placeholder="12" class="fontMontserrat">
            <h2>/</h2>
            <input type="text" placeholder="17" class="fontMontserrat">
          </div>
          <div class="cvvNumber">
            <h2 class="fontMontserrat fontLightGray">CVV</h2>
            <input type="password" placeholder="* * *" class="fontMontserrat"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="libs/TweenMax.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="js/browser_movies_page.js"></script>
<script src="js/movie_detail.js"></script>
<script src="js/movie_trailer_page.js"></script>
<script src="js/choose_area_page.js"></script>
<script src="js/choose_schedule_page.js"></script>
<script src="js/choose_seat_page.js"></script>
<script src="js/checkout_page.js"></script>
</body>
</html>